{
    "mio": {
        "developerId":    "nWmKQvVQbEfM11PzENM",
        "accessToken":    "YOUR_ACCESS_TOKEN",
        "maxDailyAmount": 200,
        "startingAmount": 10000
    },
    "switch" {
        // 0: Per id coupon usage
        // 1: Remaining coupon amount
        "switchMethod": 0
    },
    "mail": {
        "enabled":    false,
        "smtpServer": "smtp.example.com",
        "smtpPort":   "587",
        "toAddrs":    [
            "someone1@example.com",
            "someone2@example.com"
        ],
        "fromAddr":   "autoswitch@example.com",
        "auth":       true,
        "username":   "authusername",
        "password":   "authpassword"
    },
    "slack": {
        "enabled": false,
        "token":   "slacktoken",
        "channel": "channelname",
    }
}
